.navbar {
  width: 100%;
  height: 80px;
  background: #fff;
  border-bottom: 2px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-weight: bold;
  .logo-link {
    flex: 0;
    color: #666;
  }
  .navmenu {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    a {
      padding: 10px;
      color: #666;
    }
  }
}
